.todo-input {
    flex: 1;
    font-size: 16px;
    padding: 10px 20px;
    border: 0;
    color: #455963;
}

.todo-input::placeholder {
    color: #a8b5bb;
}

.todo-input:focus {
    outline: none;
}

.todo-search-form {
    display: flex;
    margin-top: 10px;
}